body,
 html{
margin-right: 22px;
margin-left: 17px;
color: #000;
background-color: grey;
}
# wrapper{
width: 917px;
margin-left: 5px;
margin-right: 5px;
background-color: #99c;
}

#header{
background-color: #D8D8D8;
width: 968px;
padding: 4px;
margin: 0;
}

h1 {
margin: 0;
}
#nav ul{
margin: 0;
padding: 8px;
list-style: none;
font-color: #3F3FBF;
}
h2{
margin: 15px 15px;
}
#main h3{
color: blue;
font-size: medium;
}
#main{
text-align: left;
width: 915px;
}
#main h4{
color: purple;
font-size: small;
}
#nav li {
display: inline;
margin: 0;
padding: 0;
list-style: none;
}
#nav{
background: #c99;
}
#main {
width: 58.4%;
background: #9c9;
float: left;
min-height: 532px;
padding:10px;
}
#sidebar {
float: right;
width: 37.4%;
background-color: #99c;
min-height: 532px;
padding: 10px;
margin-left: 0;
}

#footer p{
clear: both;
background-color: #cc9;
padding: 5px 5px;
min-height: 20px;
}
